config AIC_BTUSB_SUPPORT
	tristate "AIC Bluetooth USB driver"
	depends on USB && BT
	help
	  This is the driver for AIC Bluetooth USB devices.
	  Say Y here if you want to usb AIC Bluetooth USB devices.
